@model RazorMVC.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h1>Adição de Produto</h1>

<h4>Preencha as informações abaixo para criar um novo produto.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrição" class="control-label"></label>
                <input asp-for="Descrição" class="form-control" placeholder="(Opcional) Adicione uma descrição" />
                <span asp-validation-for="Descrição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preço" class="control-label"></label>
                <input asp-for="Preço" class="form-control" />
                <span asp-validation-for="Preço" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex;">
                <div style="flex-grow:1;">
                    <label asp-for="Fornecedor" class="control-label"></label>
                    <select asp-for="FornecedorId" class="form-control" asp-items="ViewBag.Fornecedores">
                        <option value="0">Nenhum</option>
                    </select>
                    <span asp-validation-for="FornecedorId" class="text-danger"></span>
                </div>
                <div style="align-content:flex-end; margin-left:5px;">
                    <a asp-action="AddSupplier">
                        <input type="button" class="btn btn-outline-primary" value="Criar Novo" />
                    </a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
