@model RazorMVC.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h5 class="partial-view-title">Exclusão</h5>

<div class="custom-subtitle">Tem certeza de que deseja excluir este produto?</div>
<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DataDeCriação):
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DataDeCriação)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger"/>
        <a asp-action="Index" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</a>
    </form>
</div>
