@model RazorMVC.Models.Produto

@{
    ViewData["Title"] = "Editar Produto";
}

<h2>Editar Produto</h2>

<div class="row">

    <div class="col-md-6 custom-container">

        <div class="custom-title">Preencha os dados que deseja editar.</div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DataDeCriação"/>
            <div class="form-group">
                <input asp-for="Nome" class="form-control" required placeholder="Insira o nome do produto" />
                <label asp-for="Nome" class="control-label"></label>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrição" class="control-label"></label>
                <input asp-for="Descrição" class="form-control" placeholder="(Opcional) Adicione uma descrição" />
                <span asp-validation-for="Descrição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Preço" class="form-control" required placeholder="Insira o valor do produto" />
                <label asp-for="Preço" class="control-label"></label>
                <span asp-validation-for="Preço" class="text-danger"></span>
            </div>
            <div class="col" style="display:flex; margin-bottom:10px;">
                <div style="flex-grow:1;">
                    <label asp-for="Fornecedor" class="control-label"></label>
                    <select asp-for="FornecedorId" class="form-select" asp-items="ViewBag.Fornecedores">
                        <option value="0">Nenhum</option>
                    </select>
                    <span asp-validation-for="FornecedorId" class="text-danger"></span>
                </div>
                <div style="align-content:flex-end; margin-left:5px;">
                    <a asp-action="AddSupplier" asp-route-id="@Model.Id" type="button" class="btn btn-outline-primary">Criar Novo</a>
                </div>
            </div>
            <div class="form-group" style="margin-top:15px;">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        <div style="text-align:right;">
            <a asp-action="Index">Voltar para a lista</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
