@model RazorMVC.Models.Produto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DataDeCriação"/>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrição" class="control-label"></label>
                <input asp-for="Descrição" class="form-control" />
                <span asp-validation-for="Descrição" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preço" class="control-label"></label>
                <input asp-for="Preço" class="form-control" />
                <span asp-validation-for="Preço" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex;">
                <div style="flex-grow:1;">
                    <label asp-for="Fornecedor" class="control-label"></label>
                    <select asp-for="FornecedorId" class="form-control" asp-items="ViewBag.Fornecedores">
                        <option value="0">Nenhum</option>
                    </select>
                    <span asp-validation-for="FornecedorId" class="text-danger"></span>
                </div>
                <div style="align-content:flex-end; margin-left:5px;">
                    <a asp-action="AddSupplier" asp-route-id="@Model.Id">
                        <input type="button" class="btn btn-primary" value="Criar Novo" />
                    </a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
