@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1 class="display-5">Sobre</h1>
    <p>Para mais informações, leia o README.md do projeto.</p>
    <p>Sobre o desenvolvedor: <a href="https://github.com/fltrierweiler">Github</a> | <a href="https://www.linkedin.com/in/fltrierweiler/">Linkedin</a></p>
</div>
