@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Este é um projeto ASP.NET Core usando padrão MVC.</p>
    <p>O intuito é demonstrar operações CRUD em um banco de dados local SQLite, com validações de dados <i>client-side</i> e <i>server-side</i>.</p>
    <p>Para acessar as tabelas de Produtos e Fornecedores, basta acessar suas respectivas abas na barra superior.</p>
</div>
