html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-title {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin-bottom:10px;
}

.custom-subtitle{
    margin-bottom:10px;
    font-size:20px;
    font-weight:600;
    color:midnightblue;
}

.custom-container {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

label, th{
    font-weight:600;
    color:darkslateblue
}

input[required] + label:after {
    content: '*';
    color: red;
    visibility: hidden;
}

input:placeholder-shown + label::after {
    visibility: visible;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3em;
}

    .form-group label {
        order: 1;
    }

    .form-group input {
        order: 2;
    }

    .form-group span{
        order: 3;
    }
